<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>

        <body>
            <section class="container">


                <h1>This is home page <%= 4 + 9 + 200 %>
                </h1>

                <h2>Hy this is me on the <%= "Mamaru karate club" .toUpperCase() %>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt
                    repellat minus magni voluptas maxime ex quod aliquam incidunt expedita
                    officia, totam odio distinctio dolorum? Obcaecati deserunt neque molestiae
                    necessitatibus inventore?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt
                    repellat minus magni voluptas maxime ex quod aliquam incidunt expedita
                    officia, totam odio distinctio dolorum? Obcaecati deserunt neque molestiae
                    necessitatibus inventore?
                </p>
            </section>
        </body>


        <%- include("partials/footer.ejs") %>